#!/bin/bash
# renew cert if required and copy to haproxy destination

{% for vip in haproxy_vip_binds | selectattr('type', 'defined') |  selectattr('type', 'eq', 'external') %}
cat /etc/letsencrypt/live/{{ haproxy_ssl_letsencrypt_domains | first }}/{fullchain,privkey}.pem \
    > {{ haproxy_ssl_cert_path ~ '/haproxy_' ~ ansible_facts['hostname'] ~ '-' ~ (vip.get('interface')) | ternary(vip['address'] ~ '-' ~ vip.get('interface'), vip['address'])  ~ '.pem' }}
{% endfor %}

systemctl reload haproxy
